li a {
    color: green;
}
body {
    /*background: white url("images/background.gif") no-repeat  100% 100%;*/
}

.table-md{
    width: 100%;
    max-width: 1400px;
}
.table-md td,th{
    padding: 5px 10px;

}
.td-center{
    text-align: center;
}

.btn{
    margin: 10px 0;
}

