li a {
    color: green;
}
body {
    /*background: white url("images/background.gif") no-repeat  100% 100%;*/
}

.table-md{
    width: 100%;
    max-width: 1700px;
}
.table-md td,th{
    padding: 5px 10px;
    border-bottom: 1px solid #ccc;

}
.table-md th{
    background: rgb(90,90,90);
    color: #fff;
}
.table-md tr:hover{
    background: #ccc;
}
.td-center{
    text-align: center;
}
.price-list-table th{
    width: 40%;
}
.btn{
    margin: 10px 0;
}
.my-error-class {
    color:#FF0000;  /* red */
}
.my-valid-class {
    color:#00CC00; /* green */
}

.master-creation{
    display: flex;
    justify-content: flex-start;
    width: 42%;
    margin: 5px 20px;
}

.master-creation-label{
    width: 50%;
}
.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px 10px 10px 0;
    padding-top: 5px;
    padding-bottom: 5px;

}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 25px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}