{% extends "base.html" %}

{% block content %}
{% load static %}

    <h2>Вы редактируете дизайнера {{ designers.name }}</h2>

    {% if perms.designers.change_designers %}
        <form action="" method="post" id="designer_update">
            {% csrf_token %}
             <div>
                <table>
        {#        {{ form.as_table }}#}
                    {% for field in form %}
                    <div class="master-creation">
                        <div class="master-creation-label">
                            {{ field.label_tag }}

                        </div>
                        <div class="master-creation-field">
                            {{ field }}
                            {% if field.help_text %}
                            <small style="color: grey">{{ field.help_text }}</small>
                            {% endif %}
        {#                    {% if field.name == 'phone_number' %}#}
        {#                        <input type="text" class="input-medium bfh-phone" data-format="+1 (ddd) ddd-dddd" name="master-phone_number" maxlength="200" id="id_master-phone_number" required="">#}
        {#                        <span id='message'>works</span>#}
        {#                    {% endif %}#}
                            {% for error in field.errors %}
                            <p style="color: red">{{ error }}</p>
                            {% endfor %}
                        </div>
                    </div>
                    {% endfor %}
                </table>
            </div>
            <input class="btn btn-primary" type="submit" value="Сохранить" />
        </form>
    {% endif %}
    <script>
    $("#designer_update").validate({
    errorClass: "my-error-class",
            validClass: "my-valid-class",

    rules : {
            "designer-experience": {
                Date : true
            }
    },
    messages:{
    password: {
         required:"Пароль обязателен"

       }
    }

    });
    </script>
{% endblock %}