{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="container-fluid">
    {% if  perms.masters.add_master%}
    <div><a class="btn btn-primary" href="{% url 'masters:master_creation' %}">Создать нового мастера</a></div>
    {% endif %}

    {% if masters %}
    <table width="100%" cellspacing="0" cellpadding="10" border="1" class="table-md display"  id="main-table">
        <thead>
            <tr>
                <th>No</th>
                <th>Дополнительная информация</th>
            </tr>
        </thead>
        <tbody>
            {% for master in masters %}
                <tr>
                    <td><span> {{ forloop.counter }}</span></td>
                    <td> {{ master.additional_info }}</td>
                </tr>
            {% endfor %}
        </tbody>

    </table>
    <a href="{% url 'masters:export' 'book' %} ">Экспортировать в excel</a>
{% else %}
    <p>No masters are available.</p>
{% endif %}
    {% block upload %}
    {% endblock %}
</div>

<script>
$(document).ready(function() {
    $('#main-table').DataTable( {
        "order": [[ 3, "desc" ]],
        language: {
          "processing": "Подождите...",
          "search": "Поиск:",
          "lengthMenu": "Показать _MENU_ записей",
          "info": "Записи с _START_ до _END_ из _TOTAL_ записей",
          "infoEmpty": "Записи с 0 до 0 из 0 записей",
          "infoFiltered": "(отфильтровано из _MAX_ записей)",
          "infoPostFix": "",
          "loadingRecords": "Загрузка записей...",
          "zeroRecords": "Записи отсутствуют.",
          "emptyTable": "В таблице отсутствуют данные",
          "paginate": {
            "first": "Первая",
            "previous": "Предыдущая",
            "next": "Следующая",
            "last": "Последняя"
          },
          "aria": {
            "sortAscending": ": активировать для сортировки столбца по возрастанию",
            "sortDescending": ": активировать для сортировки столбца по убыванию"
          }
        }
    } );
} );
</script>
{% endblock %}