{% extends 'base.html' %}
{% block content %}
{% load static %}
{#{% if user.is_authenticated %}#}
{#    <link rel="stylesheet" type="text/css" href="{% static 'masters/style.css' %}" />#}
{#    <li><a href="{% url 'masters:master_creation' %}">Create</a></li>#}
{#{% endif %}#}

<div class="container-fluid">
    {% if  perms.masters.add_master%}
    <div><a class="btn btn-primary" href="{% url 'masters:master_creation' %}">Создать нового мастера</a></div>
    {% endif %}

    {% if masters %}
    <table width="100%" cellspacing="0" cellpadding="10" border="1" class="table-md">
        <tr>
            <th>No</th>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Телефонный номер</th>
            <th>email</th>
            <th>Страна</th>
            <th>Город</th>
            <th class="td-center">Опыт работы</th>
            <th>Дополнительная информация</th>

        </tr>
        {% for master in masters %}
            <tr>
                <td><span> {{ forloop.counter }}</span></td>
                <td><a href="{% url 'masters:price' master.id %}">{{ master.first_name }}</a></td>
                <td>  {{ master.second_name }}</td>
                <td>  {{ master.phone_number }} </td>
                <td>   {{ master.email }}</td>
                <td> {{ master.country }}</td>
                <td>  {{ master.city }}</td>
                <td class="td-center"> {{ master.get_experience }}</td>
                {% if not master.additional_info %}
                    <td> {{ master.additional_info|yesno:", Жадный до информации мастер не предоставил доп. инфу о себе" }}</td>
                {% else %}
                    <td> {{ master.additional_info }}</td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>

    <a href="/masters/export/book" style="position:relative; top: 10%; border-radius: 5px;
    border: 0;
    font-family: Tahoma,,sans-serif;
    background: blanchedalmond;">Выгрузить в excel</a>
{% else %}
    <p>No masters are available.</p>
{% endif %}
    {% block upload %}
    {% endblock %}
</div>

{% endblock %}